
/course-service/node_modules
/course-service/.env
/course-service/dist



/api-gateway/node_modules
/api-gateway/.env
/api-gateway/dist


/auth-service/node_modules
/auth-service/.env
/auth-service/dist
