
services:
  # Gateway Service
  gateway:
    build: ./api-gateway
    ports:
      - "5000:5000"  # host:container
    env_file:
      - ./api-gateway/.env
    depends_on:
      - auth-service
      - course-service

  # Auth Service
  auth-service:
    build: ./auth-service
    ports:
      - "5001:5001"
    env_file:
      - ./auth-service/.env


  # Course Service
  course-service:
    build: ./course-service
    ports:
      - "5002:5002"
    env_file:
      - ./course-service/.env


